body {
    font:normal 15px/20px 'Helvetica';
    color:#444;
}
a {
    text-decoration:none;
    color:#26B;
}
input#search {
    font-size:16px;
    line-height:30px;
    width:300px;
    background: white;
    border: 1px solid #CCC;
    border-color: #CCC #DDD #DDD;
    padding: 0px 2px;
    box-shadow: inset #DDD 0px 1px 3px;
    outline:none;
}
input#search:focus {
    border-color:#000;
}
.autocomplete-option {
    float:left;
    font:normal 12px/15px 'Helvetica';
    padding:2px 5px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    font:normal 20px/30px 'Helvetica';
}
.header {
    width:280px;
    padding:10px;
}
.left {
    width:300px;
    padding:10px;
    float:left;
}
.right {
    margin-left:320px;
    padding:10px;
}
div.result {

}
h3 {
    font:normal 15px/20px 'Helvetica';
}
